<%= form_for(@dude) do |f| %>
  <% if @dude.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dude.errors.count, "error") %> prohibited this dude from being saved:</h2>

      <ul>
      <% @dude.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_area :last_name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_area :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
