<h1>Listing dudes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dudes.each do |dude| %>
  <tr>
    <td><%= dude.name %></td>
    <td><%= dude.last_name %></td>
    <td><%= dude.age %></td>
    <td><%= link_to 'Show', dude %></td>
    <td><%= link_to 'Edit', edit_dude_path(dude) %></td>
    <td><%= link_to 'Destroy', dude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dude', new_dude_path %>
