<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dude.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @dude.last_name %>
</p>

<p>
  <b>Age:</b>
  <%= @dude.age %>
</p>


<%= link_to 'Edit', edit_dude_path(@dude) %> |
<%= link_to 'Back', dudes_path %>
